.list-ui {
  display: inline-block;
  background-color: gray;
  height: 200px;
  width: 100px;
  border-radius: 3px;
  box-sizing: border-box;
}
.list-ui-header {
  height: 10%;
}
.list-ui-title {
  display: inline-block;
}
.list-ui-menu {
  display: inline-block;
}
.list-ui-body {
  width: 90px;
  min-height: 0px;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}
.list-ui-footer {
  height: 10%;
}
.card-ui {
  background-color: greenyellow;
  height: 50px;
  margin: 5px;
  padding: 5px;
  cursor: grab;
}
.card-ui-placeholder {
  background-color: rgba(221, 84, 84, 0.363);
  border: black 2px dotted;
  margin: 5px;
}
