.board-ui{
  height: 100vh;
  position:relative;
}
.list-ui {
  display: inline-block;
  background-color: gray;
  width: 200px;
  border-radius: 3px;
  box-sizing: border-box;
  position:absolute;
}
.list-ui-header {
  height: 2em;
  margin:0.3em;
  cursor:grab;
}
.list-ui-header:active{
  cursor:grabbing;
}
.list-ui-title {
  display: inline-block;
}
.list-ui-menu {
  display: inline-block;
}
.list-ui-body {
  width: 90%;
  height: 5em;
  min-height: 0px;
  margin:0.3em;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(7, 158, 228);
  border: 1px black solid;
}
.list-ui-body-clearfix:after {
  clear: both;
  content: "";
  display: table;
}
.list-ui-footer {
  height: 2em;
  margin:0.3em;
}
.card-ui {
  background-color: greenyellow;
  height: 50px;
  margin: 5px;
  padding: 5px;
  cursor: grab;
}
.card-ui-placeholder {
  background-color: rgba(221, 84, 84, 0.363);
  border: black 2px dotted;
  margin: 5px;
}
.card-ui-selected{
  border: black 2px dotted;
  opacity: 0.5;
}
